.formulario
{
    display: flex;
    flex-direction: column;
}
.formulario > *{
    margin: 2px 0;
}

form {
    margin: 20px auto;
    width: 750px;
    border: 2px solid black;
}
.button{
    margin: 7px 5px;
}

.tabla {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-collapse: collapse;
    width: 1300px;
}

.tabla,
.tabla th,
.tabla td {
    border: 1px solid black;
}

.tabla td {
    text-align: center;
}